.adminlogin-div{
    background-color: #fe6e00;
    width: 25%;
    display: block ;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
}

.adminlogin-div input[type="text"], .adminlogin-div input[type="password"]{
    margin-bottom: 15px;
}


.adminlogin-div input[type="submit"]{
    display: block;
    margin: auto;
}

.adminlogin-div h1{
    text-align: center;
    color: white;
    margin-top: 0px;
}

.message{
    text-align: center;
    color: red;
}

/* ADMIN HOME PAGE */
.pizza-add-div{
    width: 30%;
    display: block;
    margin: auto;


}

.pizza-add-div input[type="text"]{
    width: 43%;
    display: inline;
    margin: auto;
    margin-top: 5px;
    
}

.pizza-add-div input[type="submit"]{
    display: inline;
    margin: auto;
    margin-bottom: 4px;

}

.admin-table-pizza-div{
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 20px;
}

/*USER*/
.container-userlogin-dev{
    position: relative;
    height: 700px;
    background: url("../img/pizzahomepage.jpg");
    background-size: cover;
    
}

.userlogin-div{
    background-color: orange;
    width: 500px;
    height: 350px;
    padding-top: 50px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.userlogin-div input[type="text"], .userlogin-div input[type="password"]{
    width: 400px;
    margin: auto;
    margin-bottom: 10px;
}

.userlogin-div h1{
    text-align: center;
}


.userlogin-div h1{
    color: white;
}

.userlogin-div input[type="submit"]{
    display: block;
    margin: auto;
    
}