{%  extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Welcome</a>
    <a href="#" class="btn btn-danger">Login</a>
</nav>
<div class="container-userlogin-dev"> 
    <div class="userlogin-div">
        <h1>Sign Up !</h1>
        <form action="#" method="post">
            <input type="text" class="form-control" name="username" placeholder="Username">
            <input type="password" class="form-control" name="password" placeholder="Password">
            <input type="text" class="form-control" name="phone" placeholder="Phone N°">
            <input type="submit" class="btn btn-success" value="Submit">
        </form>
    </div>
</div>

{% endblock %}
