{% extends 'base.html' %}
{% block content %}


{% if messages %}
{% for message in messages %}   
<div class="alert alert-{{message.level_tag}} mb-0 " role="alert">
    {{message}}
</div>
{% endfor  %}
{% endif %}
<div class="loginpage">
    <h1>User Login Page</h1>
    <form action="/userlogin/" method="post">
        {% csrf_token %}
        <input type="text" class="form-control" name="username" placeholder="Username">
        <input type="password" name="password" class="form-control" placeholder="Password">
        <input type="submit" class="btn btn-success" value="Login">
    </form>
</div>
{% endblock %}